{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг на дату{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Назад в каталог</a></h1>
            <h2>Книги вышедшие {{ date|date:'j F Y' }}</h2>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
              <h2>{{ book.name }}</h2>
              <p>Автор: {{ book.author }}</p>
              <p>Дата публикации: {{ book.pub_date|date:'j F Y' }}<p>
            </div>
          {% endfor %}
        </div>
        <div class="row">
        {% for view, page in pages.items %}
            {% if view == '>' %}
                <h3><a href="/books/{{ page|date:'Y-m-d' }}">{{ page|date:'j F Y' }} {{ view }}</a></h3>
            {% else %}
                <h3><a href="/books/{{ page|date:'Y-m-d' }}">{{ view }} {{ page|date:'j F Y' }} &nbsp;</a></h3>
            {% endif %}
        {% endfor %}
        </div>
    </div>


{% endblock %}