{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг на дату{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог за {{ date }}</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
              <h2>{{ book.name }}</h2>
              <p>Автор: {{ book.author }}</p>
              <p>Дата публикации: {{ book.pub_date }}<p>
            </div>
          {% endfor %}
        </div>
        <div class="row">
        {% for view, page in pages.items %}
            {% if view == '>' %}
                <h3><a href="/books/{{ page }}">{{ page }} {{ view }}</a></h3>
            {% else %}
                <h3><a href="/books/{{ page }}">{{ view }} {{ page }} &nbsp;</a></h3>
            {% endif %}
        {% endfor %}
        </div>
    </div>


{% endblock %}